* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #1b1b1b;
    color: #ffffff;
    overflow: auto; /* Permite el desplazamiento */
    min-height: 100vh; /* Asegura que el body ocupe toda la pantalla */
}

/* Video de fondo */
#video-fondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* Contenedor de los cursos */
.course-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Cambiar de space-between a flex-start */
    gap: 20px; /* Espacio controlado entre las tarjetas */
    padding: 40px;
    opacity: 0;
    transition: opacity 2s ease-in-out;
    max-height: 100vh;
    overflow-y: auto;
}

.course-container.mostrar {
    opacity: 1;
}

/* Tarjeta individual */
.course-card {
    background-color: #ffffff;
    border-radius: 15px;
    overflow: hidden;
    width: calc(33.33% - 20px); /* Tres tarjetas por fila */
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.course-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Imagen dentro de la tarjeta */
.course-image img {
    width: 100%;
    height: auto;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

/* Detalles del curso */
.details-course {
    padding: 20px;
}

.details-course h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #333333;
}

/* Botón */
.categoria button {
    background-color: #007e34cc;
    border: none;
    padding: 10px;
    color: white;
    cursor: pointer;
    font-size: 1.2em;
    border-radius: 5px;
    width: 100%;
    transition: background-color 0.3s;
}

.categoria button:hover {
    background-color: #04c414ee;
}

/* Adaptación para pantallas más pequeñas */
@media (max-width: 768px) {
    .course-card {
        width: calc(50% - 20px); /* Dos tarjetas por fila */
    }

    /* Ocultar el video y mostrar la imagen de fondo en móviles */
    #video-fondo {
        display: none; /* Asegura que el video esté oculto */
    }

    body {
        background-image: url('espiritualidadmovil.png'); /* Cambia 'fondo-imagen-movil.jpg' por tu imagen para móvil */
        background-size: cover; /* Ajusta para que la imagen cubra toda el área */
        background-position: center center; /* Centrar la imagen */
        background-repeat: no-repeat; /* Evita repeticiones */
    }
}

@media (max-width: 480px) {
    .course-card {
        width: calc(100% - 20px); /* Una tarjeta por fila */
    }
}
